<form action="/edit" method="post">
<table>
  <tr>
    <td><label>Reminder title</label></td>
    <td><input name="reminder_title" value="<%= session['reminder_title'] %>"></input></td>
  </tr>
  <tr>
    <td><label>Reminder desciption</label></td>
    <td><textarea name="reminder_description"><%= session['reminder_description'] %></textarea></td>
  </tr>
</table>
<button type="submit">Update!</button>
</form>